<div class="row">
    <% posts.forEach((post)=> { %>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.content %></p>
          
        </div>
      </div>
    </div>
    <% }) %>
  </div>

